<div class="titre">
    <h1>{{pizza.name | titlecase}} :</h1>
  </div>
<div class="detail">
  <div class = "col">
    <table>
      <tr>
        <td>
          <img [src] = 'pizza.url'>
        </td>
        <td>
          <div class ="description">
            <h3>Description :</h3>
          </div>
        </td>
      </tr>
      <tr>
        <p>{{pizza.price}}€</p>
      </tr>
      <tr>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        <button class="back-button" (click)="back()">Retour</button>
        
      </tr>

    </table>
  </div>
</div>
